*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    padding: 20px 100px;
}

header .logo{
    position: relative;
    max-width: 80px;
}

header .logo-text{
    position: absolute;
    color: #fff;
    top: 50px;
    left: 200px;
    font-size: 2em;
    font-weight: 700;
    z-index: 100;
    cursor: pointer;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    margin-left: 40px;
    list-style: none;
}

header ul li a{
    color: #fff;
    text-decoration: none;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s;
    background-position: center;
}

.banner .imgBx img.active{
    opacity: 1;
}

.controls{
    width: 80px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.controls li{
    position: relative;
    width: 80px;
    height: 80px;
    background: #fff;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.controls li:hover{
    background: #ffec3b;
}

.controls li:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 3px solid #111;
    border-bottom: 3px solid #111;
    transform: rotate(45deg);
}

.controls li:nth-child(2)::before{
    transform: rotate(225deg);
}

.contentBx{
    position: absolute;
    bottom: 0;
    max-width: 700px;
}

.contentBx div{
    display: none;
}

.contentBx div.active{
    display: block;
    padding: 30px;
    padding-left: 100px;
    background: rgba(0,0,0,0.2);
}

.contentBx div h2{
    color: #fff;
    font-size: 2em;
}

.contentBx div p{
    color: #fff;
    font-size: 1.1em;
}

.contentBx div a{
    color: #111;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 2px;
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;

}